body{
    margin:10%;
}

#editor{
    min-height: 200px;
    width:50%;
}

#preview{
    margin:10%;
    border: 2px solid blueviolet;
    width: 50vw;
    height: 30vw;
    overflow-wrap: break-word;
}